<body>
    

<div class="row">
    <div class="col-lg-2">
        <div class="d-grid">
            <button class="btn btn-primary btn-block" type="button" (click)="backToHome()">Home</button>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-lg-2">
        <div class="card border-secondary mb-3">
            <div class="card-header h3 text-muted text-center">Users
                <div class="card-body">
                    <div class="row mt-1" *ngFor="let user of service.onlineUsers">
                        <div class="col">
                            <div class="d-grid">
                                <button class="btn btn-success card-text btn-block" type="button">{{user}}</button>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

<div class="col lg-9">
    <div class="card border-secondary">
        <div class="card-header h3 text-muted text-center">Messages</div>
        <div class="card-body" style="min-height: 600px;">
            <div style="overflow-y: auto; height: 550px;">
           
        </div>
        </div>
        <div class="card-footer">
            <form action="" autocomplete="off">
                <div class="row">
                    <div class="col-9">
                        <input type="text" class="form-control" placeholder="Message...">
                    </div>
                    <div class="col-3">
                        <div class="d-grid">
                            <button class="btn btn-dark btn-block" type="submit">Send</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</div>
</body>
